/*GENERAL*/
*{
    margin:0;
    padding: 0;
}

body, html {
    background: #f3f5fc;
}

/*ENCABEZADO*/
.encabezado{
    width: 31px;
    height: 48px;
    margin-top: 30px;
    margin-left: 84px;
}
/*------------------------------------- INPUT TEXTBOX -------------------------------------------*/
#conteiner{
    display: flex;
    justify-content: center;
}
.text{
    width: 560px;
    height: 400px;
    margin-top: 35px;
}

.input{
    border:none;
    background: #f3f5fc;
    color: #0A3871; 
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    width: 500px;
    height: 350px;
    resize: none;
    overflow: hidden;
    font-family: "Inter";
}

.input::placeholder{
    color:#0a3871c3;
}

.input:focus{
    outline: none;
}

#text-warning{
    display:flex;
    align-items: end;    
}

/*--------------------CONTADOR-------------------------*/
#charNum{
    font-family: serif;
    font-size: 20px;
    color: #76787a;
    width: 50px;
    height: 20px;
}
/*----------BOTONES ENCRIPTAR/DESENCRIPTAR ------------*/
#warning{ 
    padding: 0px;    
    margin-right: 40%;    
}

#warning::before{
    content: "❕";
}

.pair-buttons{
    display: flex;
    justify-content: space-around;  
}

.button{
    width: 300px;
    border-radius: 24px;
    padding: 18px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 19px;
    font-family: "Inter";
    cursor:pointer;
    border: 1.5px solid #0A3871;
    color:#0A3871;
    margin: 8px;
    background: transparent;   
}

.encriptar{
    background-color: #0A3871;
    color:#fff;
}
/*----------------------------------------OUTPUT TEXTBOX-----------------------------------------*/
.none-output{
    background-color: #ffffff;
    width: 330px;
    height: 500px;
    margin-left:10%;
    border-radius: 32px;
}

.no-message{
    width: 220px;
    margin: 84px 55px 0 55px;
}

.sin-text{
    text-align: center;
    font-family: "Inter";
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color:#343A40;
    padding: 20px;
}

.litle-text{
    text-align: center;
    color:#77797a;
    padding: 0 15px;
}
/*----------------- PANTALLA DE SALIDA ------------*/
.output-text{
    background-color: #ffffff;
    width: 330px;
    height: 500px;
    margin-left:10%;
    border-radius: 32px;
    display: none;
}

#output{
    border:none;
    background: #ffffff;
    color: #5a5a5a; 
    font-weight: 400;
    font-size: 27px;
    line-height: 150%;
    width: 310px;
    height: 400px;
    margin-left:10px;
    margin-top:20px;
    resize: none;
    font-family: "Inter"; 
}

#output:focus{
    outline: none;
}

#botonCopy{
    margin-left: 15px;
}

/*PIE DE PÁGINA*/
.copyright{
    margin-top:28px;
    
}

.copy-text{
    text-align: center;
    padding: 3px;
}

@media screen and (max-width:1010px){
    /*-------------------HEADER----------------------*/
    .encabezado{
        width: 35px;
    }
    /*-------------------INPUT TEXTBOX----------------------*/
    #conteiner{
        display: block;
        width: 88%;
        margin:0 auto;
    }

    .text{
        width:100%;
        margin:30px auto; 
    }

    #input{
        width: 100%;
        height: 300px; 
    }

    #warning{
        font-size: 18px;
        margin-right:45%;
    }

    #charNum{
        font-size: 22px;
        color:#0A3871;
    }

    .pair-buttons{
        margin: 5px;
    }

    .button{
        font-size: 20px;
    }
    /*-------------------OUTPUT DEFAULT----------------------*/
    .none-output{
        width: 100%;
        height: 120px;
        margin:0 auto;
    }

    .no-message{
        display:none;
    }

    .sin-text{
        font-size:28px;
    }
    
    .litle-text{
        font-size: 18px;
        color:#181818;
    }

    .copy-text{
        font-size: 18px;
        margin-bottom: 15px;
    }
    /*------------------------OUTPUT TEXTBOX------------------------------*/
    .output-text{
        width: 100%;
        height: 400px;
        margin:0 auto;
    }

    #output{
        width: 90%;
        height: 300px;
        margin:5px 35px 0 35px;
    }

    #botonCopy{
        display:block;
        margin: 0 auto;
        margin-top:5px;
    }
}
@media screen and (max-width:700px) and ( min-width:350px){
    .encabezado{
        margin-top: 35px;
        margin-left: 50px;
    }
    .conteiner{
        width: 90vw;
        margin: 0 auto;
        margin-top: 14px;
    }

    #input{
        width: 100%;
        overflow: auto;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #text-warning{
        padding: 10px;
        
    }

    #warning{
        padding-right: 5px;
        display:flex;
        justify-items: end;

    }

    .pair-buttons{
        display: block;
    }

    .button{
        font-size: 22px;
        padding: 22px;
        width: 80%;
        margin:5px 10%;
    }

    .none-output{
        height: 150px;
        margin: 0 auto;
        margin-top: 155px;
    }

    .output-text{
        height:400px;
        margin-top: 160px;
    }

    #output{
        width: 90%;
        height: 300px;
        margin: 5px 5%
    }
}