/*GENERAL*/
*{
    margin:0;
    padding: 0;
    
}
body, html {
    background: #f3f5fc;
}

/*ENCABEZADO*/
.encabezado{
    width: 31px;
    height: 48px;
    margin-top: 30px;
    margin-left: 84px;
}
/*--------------------MAIN---------------------*/
.conteiner{
    display: flex;
}
.text{
    width: 60%;
    height: 90%;
    
}
.input-text{
    display:inline-block;
    margin-top: 25px;
    margin-left: 200px;
    border:none;
    background: #f3f5fc;
    color: #0A3871; 
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    width: 500px;
    height: 40%;
    resize: none;
    overflow: hidden;
    font-family: "Inter";
    font-style: normal;
}

.input-text::placeholder{
    color:#0A3871;
}
.input-text:focus{
    outline: none;
}
/*---------------CONTADOR------------------*/
#charNum{
    font-family: serif;
    font-style: normal;
    font-size: 20px;
    color: #76787a;
    position: absolute;
    width: 50px;
    height: 20px;
    top:75%;
    left:58%;

}
/*----------- SECCION BOTONES ENCRIPTAR/DESENCRIPTAR ------------*/
.advertencia{
    position: absolute;
    left:12%;
    top:80%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
}
.advertencia::before{
    content: "❕";
}


.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    position: absolute;
    top:82%;
    left:11.5%;

}
.boton{
    width: 318px;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 19px;
    font-family: "Inter";
    font-style: normal;
    cursor:pointer;
    border: 1.5px solid #0A3871;
    color:#0A3871;
    margin: 5px;
    background: transparent;
    
}

.encriptar{
    background-color: #0A3871;
    color:#fff;
}
.none-output{
    background-color: #ffffff;
    width: 330px;
    height: 540px;
    margin-left: 120px;
    border-radius: 32px;
}
.no-message{
    width: 220px;
    margin-top:135px;
    margin-left: 68px;
}

.sin-text{
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color:#343A40;
    padding: 20px;

}

.litle-text{
    text-align: center;
    color:#77797a;
    padding: 0 15px;
}
/*----------------- PANTALLA DE SALIDA ------------*/
.output-text{
    background-color: #ffffff;
    width: 330px;
    height: 540px;
    margin-left: 120px;
    border-radius: 32px;
    display: none;
}

#output{
    display:inline-block;
    border:none;
    background: #ffffff;
    color: #5a5a5a; 
    font-weight: 400;
    font-size: 27px;
    line-height: 150%;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-top:20px;
    resize: none;
    font-family: "Inter";
    font-style: normal;
}
#output:focus{
    outline: none;
}

/*PIE DE PÁGINA*/
.copyright{
    margin-top:28px;
}

.copy-text{
    text-align: center;
    padding: 3px;
}